#container {
    margin-right: 500px;
    width: 100px;
}

#face {
    background-color: yellow;
    width: 500px;
    height: 500px;
    border-radius: 100%;
}

.eyeleft {
    background-color: black;
    width: 50px;
    height: 50px;
    top: 125px;
    left: 150px;
    border-radius: 100%;
    position: absolute;
}

.eyeright {
    background-color: black;
    width: 50px;
    height: 50px;
    top: 125px;
    left: 300px;
    border-radius: 100%;
    position: absolute;
}

#mouth {
    background-color: black;
    width: 200px;
    height: 50px;
    top: 300px;
    left: 150px;
    border-radius: 0 0 100px 100px;
    position: absolute;
}