h1 {
    text-align: center;
    background-color: skyblue;
    padding: 20px;
    border-radius: 15px;

}

#input {
    display: block;
    margin: 20px auto;
    padding: 10px;
    width: 300px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    background-color: skyblue;
    font-size: 16px;
    cursor: pointer;
}

p {
    text-align: center;
    font-size: 18px;
    color: #333;
}